{% extends 'cosmicdb/base_site.html' %}

{% block title %}Delete Customer{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'customers' %}"><i class="fa fa-user"></i> Customers</a></li>
        <li class="active"><a href="{% url 'customer_edit' object.pk %}"><i class="fa fa-user"></i> Delete Customer</a></li>
    </ol>
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    $(document).ready(function(){
    });
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header">
            <h3>Delete Customer</h3>
        </div>
        <div class="box-body">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" class="btn btn-danger" value="Confirm" />
            </form>
        </div>
    </div>

{% endblock %}