{% extends 'cosmicdb/base_site.html' %}

{% block title %}Customer{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'customers' %}"><i class="fa fa-user"></i> Customers</a></li>
        <li class="active"><a href="{% url 'customer_edit' object.pk %}"><i class="fa fa-user"></i> Customer</a></li>
    </ol>
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    $(document).ready(function(){
    });
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header">
            <h3>Customer</h3>
        </div>
        <div class="box-body">
            {% crispy form %}
        </div>
    </div>

{% endblock %}