{% extends 'cosmicdb/base_site.html' %}

{% block title %}Invoice{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'invoices' %}"><i class="fa fa-dollar"></i> Invoices</a></li>
        <li class="active"><a href="{% url 'invoice_edit' object.pk %}"><i class="fa fa-dollar"></i> Invoice</a></li>
    </ol>
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    $(document).ready(function(){
    });
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header">
            <h3>Invoice</h3>
        </div>
        <div class="box-body">
            <form method="post">
                {% crispy form %}
                <div class="box-body">
                    {% for inline in inlines %}
                        {% crispy inline formset_helper %}
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-danger" href="{% url 'invoice_delete' object.pk %}">Delete</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}