{% extends 'cosmicdb/base_site.html' %}

{% block title %}Invoices{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><a href="{% url 'invoices' %}"><i class="fa fa-dollar"></i> Invoices</a></li>
    </ol>
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    function goTo(trElement){
        temp_url = '{% url 'invoice_edit' 0 %}';
        var url = temp_url.substr(0,temp_url.length-2)+$(trElement).data('id')+'/';
        window.location.href = url;
    }
{% endblock %}

{% load render_table from django_tables2 %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header">
            <h3>Invoices</h3>
        </div>
        <div class="box-body">
            <a href="{% url 'invoice_new' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Invoice</a>
            {% render_table table %}
        </div>
    </div>

{% endblock %}