{% extends 'cosmicdb/base_site.html' %}

{% block title %}New Invoice{% endblock %}
{% block title_small %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{% url 'invoices' %}"><i class="fa fa-dollar"></i> Invoices</a></li>
        <li class="active"><a href="{% url 'invoice_new' %}"><i class="fa fa-dollar"></i> New Invoice</a></li>
    </ol>
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    $(document).ready(function(){
    });
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="box box-primary">
        <div class="box-header">
            <h3>New Invoice</h3>
        </div>
        <div class="box-body">
            <form method="post">
                {% crispy form %}
                {% for inline in inlines %}
                    {% crispy inline formset_helper %}
                {% endfor %}
                <div class="box-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}