{% extends 'cosmicdb/dashboard.html' %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3>Dashboard</h3>
        </div>
        <div class="box-body" style="padding-bottom: 20px;">
            <div class="col-xs-6" style="margin-bottom: 20px;">
                <a class="btn btn-primary" href="{% url 'customers' %}">Customers</a>
            </div>
            <div class="col-xs-6" style="margin-bottom: 20px;">
                <a class="btn btn-primary" href="{% url 'invoices' %}">Invoices</a>
            </div>
        </div>
    </div>
{% endblock %}