<!-- Optionally, you can add icons to the links -->
{% url 'dashboard' as dashboard_url %}
{% url 'customers' as customers_url %}
{% url 'invoices' as invoices_url %}
<li{% if request.path == dashboard_url %} class="active"{% endif %}><a href="{{dashboard_url}}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
<li class="header">DATABASE</li>
<li{% if request.path == customers_url %} class="active"{% endif %}><a href="{{customers_url}}"><i class="fa fa-user"></i> <span>Customers</span></a></li>
<li{% if request.path == invoices_url %} class="active"{% endif %}><a href="{{invoices_url}}"><i class="fa fa-dollar"></i> <span>Invoices</span></a></li>
